<!-- header -->
<%= render 'admins/header' %>
<!-- header -->

<!-- 部分テンプレート使う -->
<div class="container">
  <div class="row">
    <div class="main col-md-offset-3 col-md-10">
      <div class="pagetitle">新規会員登録</div><br><br>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <table class="table">
          <tbody>
            <tr>
              <P>名前</P>
              <%= f.label "(姓)"  %>
              <%= f.text_field :family_name, autofocus: true, class: "name" %>
              <%= f.label "(名)"  %>
              <%= f.text_field :first_name, autofocus: true, class: "name" %>
          </tr>
          <br>
          <tr>
              <P>フリガナ</P>
              <%= f.label "(セイ)"  %>
              <%= f.text_field :family_name_kana, autofocus: true, class: "name" %>
              <%= f.label "(メイ)"  %>
              <%= f.text_field :first_name_kana, autofocus: true, class: "name" %>
          </tr>
          <br>
          <tr>
            <%= f.label "メールアドレス"  %>
            <%= f.text_field :email, autofocus: true, class: "email" %>
        </tr>
        <br>
        <tr>
            <%= f.label "郵便番号(ハイフンなし)"  %>
            <%= f.text_field :postal_code, autofocus: true %>
        </tr>
        <br>
        <tr>
            <%= f.label "住所"  %>
            <%= f.text_area :address, autofocus: true %>
        </tr>
        <br>
        <tr>
            <%= f.label "電話番号(ハイフンなし)"  %>
            <%= f.text_field :phone_number, autofocus: true %>
        </tr>
        <br>
        <tr>
            <%= f.label "パスワード(６文字以上)" %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "new-password" %>
        </tr>
        <br>
        <tr>
            <%= f.label "パスワード(確認用)" %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </tr>
        <br>
    </tbody>
</table>
<br>
<div class="actions">
   <%= f.submit "新規登録",class: "btn btn-success" %>
</div>
<br>
<% end %>
<div class="row">
    <div class="pagetitle">既に登録済みの方はこちら</div><br><br>
    <p><%= link_to ' こちら ', new_customers_customer_session_path %> からログインしてください。</p>
</div>
</div>
</div>
</div>

