<%#= image_tag 'logo.png' %>

<%# if user_signed_in? %>
  <%#= if @user == user.customer %>
  <!-- もしcustomerであれば名前を表示できるようにしたい　if -->

  <p>ようこそ、<%#= customer.family_name %><%#= customer.first_name %>さん！</p>
  <li><%= link_to 'マイページ', homes_about_path, class: 'btn btn-primary' %></li>
  <li><%= link_to '商品一覧', products_path, class: 'btn btn-primary' %></li>
  <li><%= link_to 'カート', cart_products_path, class: 'btn btn-primary' %></li>
  <li><%= link_to 'ログアウト', destroy_user_session_path, class: 'btn btn-primary' %></li>

  <!-- <%#= else %> この下の範囲はadminでの表示にしたい内容 -->

  <li><%= link_to '商品一覧', products_path, class: 'btn btn-primary' %></li>
  <li><%= link_to '会員一覧', admins_customers_path, class: 'btn btn-primary' %></li>
  <li><%= link_to '注文履歴一覧', admins_orders_path, class: 'btn btn-primary' %></li>
  <li><%= link_to 'ジャンル一覧', admins_genres_path, class: 'btn btn-primary' %></li>
  <li><%= link_to 'ログアウト', destroy_user_session_path, class: 'btn btn-primary' %></li>
  <%#= f.text_field "search" %>

  <!-- <%#= end %> admin/customer のend -->

  <!-- <%#= else %> ログインしていない場合のelse -->


  <li><%= link_to 'About', homes_about_path, class: 'btn btn-primary' %></li>
  <li><%= link_to '商品一覧', products_path, class: 'btn btn-primary' %></li>
  <li><%= link_to '新規登録', new_user_session_path, class: 'btn btn-primary' %></li>
  <li><%= link_to 'ログイン', user_session_path, class: 'btn btn-primary' %></li>

<%# end %>
