<%#= image_tag 'logo.png' %>

<% if customers_customer_signed_in? %>
<header>
   <nav>
       <ul class="nav navbar-nav navbar-right" >

  <p>ようこそ、<%= current_customers_customer.family_name %><%= current_customers_customer.first_name %>さん！</p>
  <li class="aikonn">
    <%= link_to 'マイページ', customer_path(current_customers_customer), class: 'btn btn-primary' %>
  </li>
  <li class="aikonn">
    <%= link_to '商品一覧', products_path, class: 'btn btn-primary' %>
  </li>
  <li class="aikonn">
    <%= link_to 'カート', cart_products_path, class: 'btn btn-primary' %>
  </li>
  <li class="aikonn">
    <%= link_to 'ログアウト', destroy_customers_customer_session_path, method: :delete, class: 'btn btn-primary' %>
  </li>
</ul>
</nav>
</header>

  <% elsif admins_admin_signed_in? %>
     <header>
     <nav>
       <ul class="nav navbar-nav navbar-right" >

  <li class="aikonn"><%= link_to '商品一覧', admins_products_path, class: 'btn btn-primary' %>
  </li>
  <li class="aikonn">
    <%= link_to '会員一覧', admins_customers_path, class: 'btn btn-primary' %>
  </li>
  <li class="aikonn">
    <%= link_to '注文履歴一覧', admins_orders_path, class: 'btn btn-primary' %>
  </li>
  <li class="aikonn">
    <%= link_to 'ジャンル一覧', admins_genres_path, class: 'btn btn-primary' %>
  </li>
  <li class="aikonn">
    <%= link_to 'ログアウト', destroy_admins_admin_session_path, method: :delete, class: 'btn btn-primary' %>
  </li>

  <% else %>

  <li class="aikonn">
    <%= link_to 'About', homes_about_path, class: 'btn btn-primary' %>
  </li>
  <li class="aikonn">
    <%= link_to '商品一覧', products_path, class: 'btn btn-primary' %>
  </li>
  <li class="aikonn">
    <%= link_to '新規登録', new_customers_customer_registration_path, class: 'btn btn-primary' %>
  </li>
  <li class="aikonn">
    <%= link_to 'ログイン',  customers_customer_session_path, class: 'btn btn-primary' %>
  </li>

<<<<<<< HEAD
<% end %>
</ul>
</nav>
=======
  <% end %>
>>>>>>> 8fd5aa8bcf85d045c2075bc024e0fef92f223685
</header>