<!-- header -->
<%= render 'admins/header' %>
<!-- header -->

<h2>登録情報編集</h2>

<%= flash[:success] %>
<%= flash[:danger] %>
<%= flash[:info] %>

<<<<<<< HEAD
<table class="table form-group">
            <tbody>
              <%= form_for(@customer) do |f| %>

                <tr>
                  <td>氏名</td>
                  <td><%= f.text_field :family_name %>
                    <%= f.text_field :first_name %></td>
                </tr>
                <tr>
                    <td>フリガナ</td>
                    <td><%= f.text_field :family_name_kana %><%= f.text_field :first_name_kana %></td>
                </tr>
                <tr>
                    <td>郵便番号</td>
                    <td><%= f.text_field :postal_code %></td>
                </tr>
                <tr>
                    <td>住所</td>
                    <td><%= f.text_field :address %></td>
                </tr>
                <tr>
                    <td>電話番号</td>
                    <td><%= f.text_field :phone_number %></td>
                </tr>
                <tr>
                    <td>メールアドレス</td>
                    <td><%= f.text_field :email %></td>
                </tr>
                <tr><td><%= f.submit "変更を保存する", class: "btn-sm btn-primary" %></td>
                      <td>                        </td></tr>
                <% end %>
            </tbody>
</table>
