<!-- header -->
<%= render 'admins/header' %>
<!-- header -->

<h2>注文情報入力</h2>

<%= form_with(model: order, url: {action: 'confirm'}) do |f| %>

<h3>支払方法</h3>
	<label><%= f.radio_button :payment_methods, "true" %>クレジット</label><br>
	<label><%= f.radio_button :payment_methods, "false" %>銀行振込</label>
<h3>お届け先</h3>

	<label>
	<%= f.radio_button :address, :customer_address, checked: "checked" %>ご自身の住所
		<%= @customer.adress %>
	</label>

	<label>
	<%= f.radio_button :address, :delivery_address, checked: "checked" %>登録済住所から選択
		<%= f.collection_select :postal_code, :address, delivery.all, :delivery_address, :postal_code, :address, include_blank: "選択して下さい" %>
		<!-- ↑多分間違ってる -->
	</label>

	<label>
	<%= f.radio_button :address, :new_delivery_address, checked: "checked" %>登録済住所から選択新しいお届け先
	<!-- ○クリックを押すと、登録するボタンが出てきて、createアクションができるようにする -->

		<%= form_for(@delivery) do |f| %>

	        <div class="field">
	          <%= f.label "郵便番号（ハイフンなし）"  %>
	          <%= f.text_field :postal_code, autofocus: true %>
	        </div>

	        <div class="field">
	          <%= f.label　"住所"  %>
	          <%= f.text_area :adress, autofocus: true %>
	        </div>

	        <div class="field">
	          <%= f.label　"宛名"  %>
	          <%= f.text_field :name, autofocus: true, class: "name" %>
	        </div>

	        <div class="actions">
      			 <%= f.submit "お届け先を登録する",class: "btn btn-success" %>
    		</div>

        <% end %>
	</label>

    <div class="actions">
       <%= f.submit "確認画面へ進む",class: "btn btn-success" %>
    </div>

<% end %>


