<!-- header -->
<%= render 'admins/header' %>
<!-- header -->

<h2>注文情報入力</h2>

<%= form_with(model: @order, url: {action: 'confirm'}, local:true) do |f| %>

<h3><strong><%= f.label :支払方法 %></strong></h3>

<label>
<%= f.radio_button :payment_methods, "true" %>クレジットカード
</label>

<br>

<label>
<%= f.radio_button :payment_methods, "false" %>銀行振込
</label>


<h3><strong><%= f.label :お届け先 %></h3>


	<label>
		<%= f.radio_button :add, 1, checked: true, checked: "checked" %>ご自身の住所
		<%= @customer.postal_code %>
		<%= @customer.address %>
      	<%= @customer.family_name + @customer.first_name %>
	</label>


	<label>

	<%= f.radio_button :add, 2, style: "display: inline-block" %>登録住所から選択
	<%= f.collection_select :address, @deliveries, :id, :address %>

	<%= f.radio_button :add, 3 %>新しいお届け先

	<%= f.fields_for :new_add do |na| %>

	 <strong>郵便番号(ハイフンなし)</strong>

	 <%= na.text_field :postal_code, class: 'form-control' %>

	 <strong>住所</strong>

	 <%= na.text_field :address, class: 'form-control' %>

	 <strong>宛名</strong>

	 <%= na.text_field :name, class: 'form-control' %>

	 <% end %>

	 <%= f.submit "確認画面へ進む", class: "btn btn-danger"%>

	 <% end %>
