<div class="container">
  <div class="row">
    <div class="main col-md-offset-3 col-md-10">
        <div class="row">
            <div class="logintitle">会員の方はこちらからログイン</div>
            <br><br>
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <div class="field">
                <%= f.label :メールアドレス %>
                <%= f.email_field :email, autofocus: true, autocomplete: "email", :size=>"60" %>
              </div>
              <br>
              <div class="field">
                <%= f.label :パスワード　　 %>
                <%= f.password_field :password, autocomplete: "current-password", :size=>"60" %>
              </div>
              <br>
              <div align="right" style="margin-right:270px">
              <%= link_to ' =>パスワードを忘れた方はこちら', new_customers_customer_password_path %>
              </div>
              <div class="actions", align="right" style="margin-right:628px">
                <%= f.submit "ログイン", class: "btn btn-primary" %>
              </div>
            <% end %>
            <br>
        </div>
        <div class="row">
            <p class="logintitle">登録がお済みでない方</p>
                <p><%= link_to ' こちら　', new_customers_customer_registration_path %> から新規登録を行ってください。</p>
        </div>
    </div>
  </div>
</div>
