<!-- header -->
<%= render 'admins/header' %>
<!-- header -->
<div class="body title">
  <h2>商品一覧</h2>
</div>

<div class="body">
<table>
    <thead>
	    <tr>
	      <th>商品ID</th>
	      <th>商品名</th>
	      <th>税抜き価格</th>
	      <th>ジャンル</th>
	      <th>ステータス</th>
        <th><td><%= link_to "＋", new_admins_product_path %></td></th>
        </tr>
  </thead>
    <tbody>
      <% @products.each do |product| %>
       <tr>
         <td><%= product.id %></td>
         <td><%= link_to product.name, admins_product_path(product.id) %></td>
         <td><%= product.price %></td>
        <td><%#= product.genre.name %></td>
         <td><%= product.is_active %></td>
       </tr>
      <% end %>
    </tbody>
  </table>
</div>
<!-- ページング機能で実装予定 -->