<!-- header -->
<%= render 'admins/header' %>
<!-- サイドバーのジャンルは部分テンプレートを挿入 -->

<!-- サイドバーのジャンルは部分テンプレートを挿入 -->

<%= attachment_image_tag @product, :image, :fill,30,30,format:'jpeg',fallback: "washoku.jpg", size:'100x100'  %>
	<h1><%= @product.name %></h1>
	<h4><%= @product.product_introduction %></h4>
	<h4>¥<%= @product.tax_included_price %>（税込）</h4>

  <%= form_with(model: [@product, @cart_product], local: true, url: {controller: 'cart_products', action: 'create'}) do |f| %>

     <%= f.select :count, options_for_select((1..99).to_a), include_blank: "個数選択" %>
     <%= f.hidden_field :product_id, value: @product.id  %>

     <%= f.submit 'カートに入れる' %>
  <% end %>