<div class="container">
<!-- header -->
  <%= render 'admins/header' %>
       <div class="row">
          <div class="col-md-3">
<!-- サイドバーのジャンルは部分テンプレートを挿入 -->
               <%= render 'products/genres_search' %>
          </div>

          <div class="col-md-9">
          	 <div class="container">
          	 	<div class="col-md-6">
          	 		<%= attachment_image_tag @product, :image, :fill,30,30,format:'jpeg',fallback: "washoku.jpg", size:'500x500'  %>
          	 	</div>
          	 		<div class="col-md-6">
          	 			 <div class="row"><h1>                    </h1></div>
                         <div class="row"><h1><%= @product.name %></h1></div>
	                     <div class="row"><h4><%= @product.product_introduction %></h4></div>
	                     <div class="row"><h4>¥<%= @product.tax_included_price %>（税込）</h4></div>

                          <div class="row"><%= form_with(model: [@product, @cart_product], local: true, url: {controller: 'cart_products', action: 'create'}) do |f| %>

                         <%= f.select :count, options_for_select((1..99).to_a), include_blank: "個数選択" %>
                         <%= f.hidden_field :product_id, value: @product.id  %></div>
                         <%= f.submit 'カートに入れる' %>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
	