<!-- header -->
<%= render 'admins/header' %>
<!-- header -->

<h2>注文履歴詳細</h2>
<%= form_with model: @order, url: admins_order_path do |f| %>

<table class="table table-borderless">
	<thead>
	</thead>
	<tbody>
		<tr>
			<td>購入者</td>
			<td><%= @order.customer.family_name %><%= @order.customer.first_name %></td>
			<td> </td>
		</tr>
		<tr>
			<td>配送先</td>
			<td>〒<%= @order.postal_code %>  <%= @order.address %><br><%= @order.name %></td>
			<td></td>
		</tr>
		<tr>
			<td>支払方法</td>
			<% if @order.payment_methods == true %>
			<td>クレジットカード</td>
			<% else %>
			<td>銀行<td>
				<% end %>
			<td></td>
			</tr>
			<tr>
				<td>注文ステータス</td>
				<td><%= f.label :order_status, '注文ステータス' %><%= f.select :order_status, {'入金待ち': 0, '入金確認': 1, '製作中': 2, '発送準備中': 3, '発送済み': 4} %></td>
							<%= f.submit "更新", class: "btn-sm btn-primary" %></td>
			</tr>
		</tbody>
	</table>
	<% end %>

	<table class="table">
		<thead>
			<tr class="active">
				<th>商品名</th>
				<th>単価（税込）</th>
				<th>数量</th>
				<th>小計</th>
				<th>製作ステータス<th>
				</tr>
			</thead>
			<tbody>
				<% sum = 0 %>
				<% @order_products.each do |op| %>
				<tr>
					<td><%= op.product.name %></td>
					<td><%= op.product.tax_included_price %>円</td>
					<td><%= op.count %>個</td>
					<td><%= (op.product.tax_included_price.to_i * op.count.to_i).to_s(:delimited) %>円</td>
					<td><%= form_with model: op, url: admins_order_product_path(op.id) do |f| %>
						<%= f.select :product_status, {'着手不可': 0, '製作待ち': 1, '製作中': 2, '製作完了': 3} %>
						<%= f.submit "更新" %></td>
						<% sub_total = op.product.tax_included_price.to_i * op.count %>
						<% sum+=sub_total %>
						<% end %>
					</tr>
					<% end %>
				</tbody>
			</table>

			<table>
				<tbody>
					<tr>
						<td><strong>商品合計</strong></td>
						<td><%= sum.to_s(:delimited) %><br></td>
					</tr>
					<tr>
						<td><strong>送料</strong></td>
						<td><p>800円</p></td>
					</tr>
					<tr>
						<td><strong>請求金額合計</strong></td>
						<td><%= (sum.to_i + 800).to_s(:delimited) %></td>
					</tr>
				</tbody>
			</table>