<!-- header -->
<%= render 'admins/header' %>
<!-- header -->

<h2>注文履歴詳細</h2>

<%= form_with model: @order, url: admins_order_path do |f| %>
	<h4>購入者</h4>
		<%= @order.customer.family_name %><%= @order.customer.first_name %>
	<h4>配送先</h4>
		〒<%= @delivery.postal_code %><%= @delivery.address %><br>
		<%= @delivery.name %>
	<h4>支払い方法</h4>
		<%= @order.payment_methods %>
	<h4>注文ステータス</h4>
		<!-- ↓作成途中 -->
		<%= f.label :order_status, '注文ステータス' %>
        <%= f.select :order_status, {'入金待ち': 1, '入金確認': 2, '製作中': 3, '発送準備中': 4, '発送済み': 5} %>
		<%= f.submit "更新" %>
		<% end %>

	<table>
	    <thead>
		    <tr>
		      <th>商品名</th>
		      <th>単価（税込）</th>
		      <th>数量</th>
		      <th>小計</th>
		      <th>制作ステータス<th>
		      <th colspan="1"></th>
	        </tr>
	  　</thead>
	    <tbody>

			<%= form_with model: @order_products, url: admins_order_product_path do |f| %>
	      <% @order_products.each do |op| %>
	       　<tr>
	         　<td><%= op.product.name %></td>
	         　<td><%= op.product.tax_included_price %></td>
	         　<td><%= op.count %></td>
	         　<td><%= op.product.tax_included_price.to_i * op.count.to_i %></td>
	           <td><%= f.select :product_status, {'着手不可': 1, '製作待ち': 2, '製作中': 3, '製作完了': 4} %></td>
	           <td><%= f.submit "更新" %></td>
	       　</tr>
	       <% end %>
	      <% end %>
	    </tbody>
	</table>

	<div>
		<strong>商品合計</strong>
			<%= %>
		<strong>送料</strong>
		    <p>８００円</p>
		<strong>請求金額合計</strong>
			<%= %>
	</div>