<!DOCTYPE html>
<html>
  <head>
    <title>WashokuEc</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<<<<<<< HEAD

      <div class="container">
=======
  <div class="container">
>>>>>>> 5ea5b6c25da0cccdd8e2a6b2a92266c7ab30cee2
    <% if flash[:notice] %>
  <div class="flash">
    <%= flash[:notice] %>
  </div>
  <% end %>
  </body>

<%= yield %>
</body>
</html>
